<div class="addable-media">
	<input class="addable-media-check check-box" type="checkbox">
	<div class="checkbox-text">{{mediaName}}</div>
	<div class="addable-media-id hidden">{{mediaID}}</div>
</div>