<div id="listcrt-container" class="general-container hidden">
	<input id="new-list-name" placeholder="List Name" type="text" minlength="1" maxlength="32">
	<button id="create-list-btn" class="general-btn">Add List</button>
	<button id="cancel-list-btn" class="general-btn">Cancel</button>
</div>

<button id="new-list-btn" class="general-btn">New List</button>