<main class="body">
	<div id="not-found-container">
		<div id="code-text">{{page}}</div>
		<div id="redirect-text">Going back home in 10 seconds...</div>
	</div>

	<script> setTimeout(() => {window.location = '/'}, 10000) </script>
</main>