<main class="body">
	<div id="home-container">
		<ul id="home-search-list">
			<li class="home-list-item">
				<input id="home-searchbar" class="user-search" placeholder="Find a user..." type="text">
			</li>

			<li class="home-list-item">
				<input id="home-go-btn" class="go-btn" type="submit" value="Go">
			</li>
		</ul>
	</div>
</main>