<main class="body">
	<div id="form-container">
		<form action="/signup" method="POST">
			<div class="form-header">Username</div>
			<input id="username" name="username" class="form-input" type="text" value="{{username}}">

			<div class="form-header">Password</div>
			<input id="password "name="password" class="form-input" type="password" value="{{password}}">

			<div class="form-header">Confirm</div>
			<input id="cPassword" name="cPassword" class="form-input" type="password">

			<br>

			<button id="submit-btn" class="general-btn signup-btn" type="submit">{{page}}</button>
		</form>
	</div>
</main>